In [2]:
#美國聯邦各州人口資料
!curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv
!curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv
!curl -O https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:02 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:03 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:04 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:04 --:--:--     0
100 57935  100 57935    0     0  11442      0  0:00:05  0:00:05 --:--:-- 15218
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100   835  100   835    0     0    805      0  0:00:01  0:00:01 --:--:--   805
100   835  100   835    0     0    805      0  0:00:01  0:00:01 --:--:--   805
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100   872  100   872    0     0   1686      0 --:--:-- --:--:-- --:--:--  1683
100   872  100   872    0     0   1683      0 --:--:-- --:--:-- --:--:--  1683

In [3]:
import numpy as np
import pandas as pd

In [5]:
pop = pd.read_csv('state-population.csv')
areas = pd.read_csv('state-areas.csv')
abbrevs = pd.read_csv('state-abbrevs.csv')
print(pop.head())
print()
print(areas.head())
print()
print(abbrevs.head())

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [33]:
#美國各州及地區根據2010人口密度排名
merged = pd.merge(pop, abbrevs, how='outer', left_on='state/region', right_on='abbreviation').drop('abbreviation', axis=1)
merged

     state/region     ages  year   population    state
0              AL  under18  2012    1117489.0  Alabama
1              AL    total  2012    4817528.0  Alabama
2              AL  under18  2010    1130966.0  Alabama
3              AL    total  2010    4785570.0  Alabama
4              AL  under18  2011    1125763.0  Alabama
...           ...      ...   ...          ...      ...
2539          USA    total  2010  309326295.0      NaN
2540          USA  under18  2011   73902222.0      NaN
2541          USA    total  2011  311582564.0      NaN
2542          USA  under18  2012   73708179.0      NaN
2543          USA    total  2012  313873685.0      NaN

[2544 rows x 5 columns]

In [34]:
merged.isnull().any()

state/region    False
ages            False
year            False
population       True
state            True
dtype: bool

In [35]:
merged[merged['state'].isnull()]

     state/region     ages  year   population state
2448           PR  under18  1990          NaN   NaN
2449           PR    total  1990          NaN   NaN
2450           PR    total  1991          NaN   NaN
2451           PR  under18  1991          NaN   NaN
2452           PR    total  1993          NaN   NaN
...           ...      ...   ...          ...   ...
2539          USA    total  2010  309326295.0   NaN
2540          USA  under18  2011   73902222.0   NaN
2541          USA    total  2011  311582564.0   NaN
2542          USA  under18  2012   73708179.0   NaN
2543          USA    total  2012  313873685.0   NaN

[96 rows x 5 columns]

In [36]:
abbrevs

                   state abbreviation
0                Alabama           AL
1                 Alaska           AK
2                Arizona           AZ
3               Arkansas           AR
4             California           CA
5               Colorado           CO
6            Connecticut           CT
7               Delaware           DE
8   District of Columbia           DC
9                Florida           FL
10               Georgia           GA
11                Hawaii           HI
12                 Idaho           ID
13              Illinois           IL
14               Indiana           IN
15                  Iowa           IA
16                Kansas           KS
17              Kentucky           KY
18             Louisiana           LA
19                 Maine           ME
20               Montana           MT
21              Nebraska           NE
22                Nevada           NV
23         New Hampshire           NH
24            New Jersey           NJ
25            New Mexico           NM
26              New York           NY
27        North Carolina           NC
28          North Dakota           ND
29                  Ohio           OH
30              Oklahoma           OK
31                Oregon           OR
32              Maryland           MD
33         Massachusetts           MA
34              Michigan           MI
35             Minnesota           MN
36           Mississippi           MS
37              Missouri           MO
38          Pennsylvania           PA
39          Rhode Island           RI
40        South Carolina           SC
41          South Dakota           SD
42             Tennessee           TN
43                 Texas           TX
44                  Utah           UT
45               Vermont           VT
46              Virginia           VA
47            Washington           WA
48         West Virginia           WV
49             Wisconsin           WI
50               Wyoming           WY

In [41]:
merged.loc[merged['state'].isnull(), 'state/region'].unique()

array(['PR', 'USA'], dtype=object)

In [43]:
merged.loc[merged['state/region'] == 'USA','state'] = 'United State'
merged.loc[merged['state/region'] == 'PR','state'] = 'Puerto Rico'

In [44]:
merged

     state/region     ages  year   population         state
0              AL  under18  2012    1117489.0       Alabama
1              AL    total  2012    4817528.0       Alabama
2              AL  under18  2010    1130966.0       Alabama
3              AL    total  2010    4785570.0       Alabama
4              AL  under18  2011    1125763.0       Alabama
...           ...      ...   ...          ...           ...
2539          USA    total  2010  309326295.0  United State
2540          USA  under18  2011   73902222.0  United State
2541          USA    total  2011  311582564.0  United State
2542          USA  under18  2012   73708179.0  United State
2543          USA    total  2012  313873685.0  United State

[2544 rows x 5 columns]

In [46]:
merged.isnull().any()

state/region    False
ages            False
year            False
population       True
state           False
dtype: bool

In [47]:
merged2 = pd.merge(merged, areas, on='state', how='left')
merged2['人口密度'] = merged2['population'] / merged2['area (sq. mi)']
merged2

,state/region,ages,year,population,state,area (sq. mi),人口密度
0,AL,under18,2012,1117489.0,Alabama,52423.0,21.316769
1,AL,total,2012,4817528.0,Alabama,52423.0,91.897221
2,AL,under18,2010,1130966.0,Alabama,52423.0,21.573851
3,AL,total,2010,4785570.0,Alabama,52423.0,91.287603
4,AL,under18,2011,1125763.0,Alabama,52423.0,21.474601
...,...,...,...,...,...,...,...
2539,USA,total,2010,309326295.0,United State,NaN,NaN
2540,USA,under18,2011,73902222.0,United State,NaN,NaN
2541,USA,total,2011,311582564.0,United State,NaN,NaN
2542,USA,under18,2012,73708179.0,United State,NaN,NaN
2543,USA,total,2012,313873685.0,United State,NaN,NaN

In [59]:
merged2.loc[merged2['area (sq. mi)'].isnull(),'state']

2496    United State
2497    United State
2498    United State
2499    United State
2500    United State
2501    United State
2502    United State
2503    United State
2504    United State
2505    United State
2506    United State
2507    United State
2508    United State
2509    United State
2510    United State
2511    United State
2512    United State
2513    United State
2514    United State
2515    United State
2516    United State
2517    United State
2518    United State
2519    United State
2520    United State
2521    United State
2522    United State
2523    United State
2524    United State
2525    United State
2526    United State
2527    United State
2528    United State
2529    United State
2530    United State
2531    United State
2532    United State
2533    United State
2534    United State
2535    United State
2536    United State
2537    United State
2538    United State
2539    United State
2540    United State
2541    United State
2542    United State
2543    United State
Name: state, dtype: object

In [61]:
merged2['state'][merged2['area (sq. mi)'].isnull()]

2496    United State
2497    United State
2498    United State
2499    United State
2500    United State
2501    United State
2502    United State
2503    United State
2504    United State
2505    United State
2506    United State
2507    United State
2508    United State
2509    United State
2510    United State
2511    United State
2512    United State
2513    United State
2514    United State
2515    United State
2516    United State
2517    United State
2518    United State
2519    United State
2520    United State
2521    United State
2522    United State
2523    United State
2524    United State
2525    United State
2526    United State
2527    United State
2528    United State
2529    United State
2530    United State
2531    United State
2532    United State
2533    United State
2534    United State
2535    United State
2536    United State
2537    United State
2538    United State
2539    United State
2540    United State
2541    United State
2542    United State
2543    United State
Name: state, dtype: object

In [70]:
merged2.dropna(inplace=True)
merged2

,state/region,ages,year,population,state,area (sq. mi),人口密度
0,AL,under18,2012,1117489.0,Alabama,52423.0,21.316769
1,AL,total,2012,4817528.0,Alabama,52423.0,91.897221
2,AL,under18,2010,1130966.0,Alabama,52423.0,21.573851
3,AL,total,2010,4785570.0,Alabama,52423.0,91.287603
4,AL,under18,2011,1125763.0,Alabama,52423.0,21.474601
...,...,...,...,...,...,...,...
2491,PR,under18,2010,896945.0,Puerto Rico,3515.0,255.176387
2492,PR,under18,2011,869327.0,Puerto Rico,3515.0,247.319203
2493,PR,total,2011,3686580.0,Puerto Rico,3515.0,1048.813656
2494,PR,under18,2012,841740.0,Puerto Rico,3515.0,239.470839
2495,PR,total,2012,3651545.0,Puerto Rico,3515.0,1038.846373

In [119]:
data2010 = merged2.loc[(merged2['ages'] == 'total') & (merged2['year'] == 2010),]
data2010
# merged2.query("ages == 'total' & year == 2010")

,state/region,ages,year,population,state,area (sq. mi),人口密度
3,AL,total,2010,4785570.0,Alabama,52423.0,91.287603
91,AK,total,2010,713868.0,Alaska,656425.0,1.087509
101,AZ,total,2010,6408790.0,Arizona,114006.0,56.214497
189,AR,total,2010,2922280.0,Arkansas,53182.0,54.948667
197,CA,total,2010,37333601.0,California,163707.0,228.051342
283,CO,total,2010,5048196.0,Colorado,104100.0,48.493718
293,CT,total,2010,3579210.0,Connecticut,5544.0,645.600649
379,DE,total,2010,899711.0,Delaware,1954.0,460.445752
389,DC,total,2010,605125.0,District of Columbia,68.0,8898.897059
475,FL,total,2010,18846054.0,Florida,65758.0,286.597129
485,GA,total,2010,9713248.0,Georgia,59441.0,163.409902
570,HI,total,2010,1363731.0,Hawaii,10932.0,124.746707
581,ID,total,2010,1570718.0,Idaho,83574.0,18.794338
666,IL,total,2010,12839695.0,Illinois,57918.0,221.687472
677,IN,total,2010,6489965.0,Indiana,36420.0,178.197831
762,IA,total,2010,3050314.0,Iowa,56276.0,54.202751
773,KS,total,2010,2858910.0,Kansas,82282.0,34.745266
858,KY,total,2010,4347698.0,Kentucky,40411.0,107.586994
869,LA,total,2010,4545392.0,Louisiana,51843.0,87.676099
954,ME,total,2010,1327366.0,Maine,35387.0,37.509990
965,MD,total,2010,5787193.0,Maryland,12407.0,466.445797
1050,MA,total,2010,6563263.0,Massachusetts,10555.0,621.815538
1061,MI,total,2010,9876149.0,Michigan,96810.0,102.015794
1146,MN,total,2010,5310337.0,Minnesota,86943.0,61.078373
1157,MS,total,2010,2970047.0,Mississippi,48434.0,61.321530
1242,MO,total,2010,5996063.0,Missouri,69709.0,86.015622
1253,MT,total,2010,990527.0,Montana,147046.0,6.736171
1338,NE,total,2010,1829838.0,Nebraska,77358.0,23.654153
1349,NV,total,2010,2703230.0,Nevada,110567.0,24.448796
1434,NH,total,2010,1316614.0,New Hampshire,9351.0,140.799273
1445,NJ,total,2010,8802707.0,New Jersey,8722.0,1009.253268
1530,NM,total,2010,2064982.0,New Mexico,121593.0,16.982737
1541,NY,total,2010,19398228.0,New York,54475.0,356.094135
1626,NC,total,2010,9559533.0,North Carolina,53821.0,177.617157
1637,ND,total,2010,674344.0,North Dakota,70704.0,9.537565
1722,OH,total,2010,11545435.0,Ohio,44828.0,257.549634
1733,OK,total,2010,3759263.0,Oklahoma,69903.0,53.778278
1818,OR,total,2010,3837208.0,Oregon,98386.0,39.001565
1829,PA,total,2010,12710472.0,Pennsylvania,46058.0,275.966651
1914,RI,total,2010,1052669.0,Rhode Island,1545.0,681.339159
1925,SC,total,2010,4636361.0,South Carolina,32007.0,144.854594
2010,SD,total,2010,816211.0,South Dakota,77121.0,10.583512
2021,TN,total,2010,6356683.0,Tennessee,42146.0,150.825298
2106,TX,total,2010,25245178.0,Texas,268601.0,93.987655
2117,UT,total,2010,2774424.0,Utah,84904.0,32.677188
2202,VT,total,2010,625793.0,Vermont,9615.0,65.085075
2213,VA,total,2010,8024417.0,Virginia,42769.0,187.622273
2298,WA,total,2010,6742256.0,Washington,71303.0,94.557817
2309,WV,total,2010,1854146.0,West Virginia,24231.0,76.519582
2394,WI,total,2010,5689060.0,Wisconsin,65503.0,86.851900
2405,WY,total,2010,564222.0,Wyoming,97818.0,5.768079
2490,PR,total,2010,3721208.0,Puerto Rico,3515.0,1058.665149

In [120]:
data2010.set_index('state', inplace = True)

In [121]:
data2010

,state/region,ages,year,population,area (sq. mi),人口密度
state,,,,,,
Alabama,AL,total,2010,4785570.0,52423.0,91.287603
Alaska,AK,total,2010,713868.0,656425.0,1.087509
Arizona,AZ,total,2010,6408790.0,114006.0,56.214497
Arkansas,AR,total,2010,2922280.0,53182.0,54.948667
California,CA,total,2010,37333601.0,163707.0,228.051342
Colorado,CO,total,2010,5048196.0,104100.0,48.493718
Connecticut,CT,total,2010,3579210.0,5544.0,645.600649
Delaware,DE,total,2010,899711.0,1954.0,460.445752
District of Columbia,DC,total,2010,605125.0,68.0,8898.897059
Florida,FL,total,2010,18846054.0,65758.0,286.597129
Georgia,GA,total,2010,9713248.0,59441.0,163.409902
Hawaii,HI,total,2010,1363731.0,10932.0,124.746707
Idaho,ID,total,2010,1570718.0,83574.0,18.794338
Illinois,IL,total,2010,12839695.0,57918.0,221.687472
Indiana,IN,total,2010,6489965.0,36420.0,178.197831
Iowa,IA,total,2010,3050314.0,56276.0,54.202751
Kansas,KS,total,2010,2858910.0,82282.0,34.745266
Kentucky,KY,total,2010,4347698.0,40411.0,107.586994
Louisiana,LA,total,2010,4545392.0,51843.0,87.676099
Maine,ME,total,2010,1327366.0,35387.0,37.509990
Maryland,MD,total,2010,5787193.0,12407.0,466.445797
Massachusetts,MA,total,2010,6563263.0,10555.0,621.815538
Michigan,MI,total,2010,9876149.0,96810.0,102.015794
Minnesota,MN,total,2010,5310337.0,86943.0,61.078373
Mississippi,MS,total,2010,2970047.0,48434.0,61.321530
Missouri,MO,total,2010,5996063.0,69709.0,86.015622
Montana,MT,total,2010,990527.0,147046.0,6.736171
Nebraska,NE,total,2010,1829838.0,77358.0,23.654153
Nevada,NV,total,2010,2703230.0,110567.0,24.448796
New Hampshire,NH,total,2010,1316614.0,9351.0,140.799273
New Jersey,NJ,total,2010,8802707.0,8722.0,1009.253268
New Mexico,NM,total,2010,2064982.0,121593.0,16.982737
New York,NY,total,2010,19398228.0,54475.0,356.094135
North Carolina,NC,total,2010,9559533.0,53821.0,177.617157
North Dakota,ND,total,2010,674344.0,70704.0,9.537565
Ohio,OH,total,2010,11545435.0,44828.0,257.549634
Oklahoma,OK,total,2010,3759263.0,69903.0,53.778278
Oregon,OR,total,2010,3837208.0,98386.0,39.001565
Pennsylvania,PA,total,2010,12710472.0,46058.0,275.966651
Rhode Island,RI,total,2010,1052669.0,1545.0,681.339159
South Carolina,SC,total,2010,4636361.0,32007.0,144.854594
South Dakota,SD,total,2010,816211.0,77121.0,10.583512
Tennessee,TN,total,2010,6356683.0,42146.0,150.825298
Texas,TX,total,2010,25245178.0,268601.0,93.987655
Utah,UT,total,2010,2774424.0,84904.0,32.677188
Vermont,VT,total,2010,625793.0,9615.0,65.085075
Virginia,VA,total,2010,8024417.0,42769.0,187.622273
Washington,WA,total,2010,6742256.0,71303.0,94.557817
West Virginia,WV,total,2010,1854146.0,24231.0,76.519582
Wisconsin,WI,total,2010,5689060.0,65503.0,86.851900
Wyoming,WY,total,2010,564222.0,97818.0,5.768079
Puerto Rico,PR,total,2010,3721208.0,3515.0,1058.665149

In [122]:
density = data2010['population'] / data2010['area (sq. mi)']
density

state
Alabama                   91.287603
Alaska                     1.087509
Arizona                   56.214497
Arkansas                  54.948667
California               228.051342
Colorado                  48.493718
Connecticut              645.600649
Delaware                 460.445752
District of Columbia    8898.897059
Florida                  286.597129
Georgia                  163.409902
Hawaii                   124.746707
Idaho                     18.794338
Illinois                 221.687472
Indiana                  178.197831
Iowa                      54.202751
Kansas                    34.745266
Kentucky                 107.586994
Louisiana                 87.676099
Maine                     37.509990
Maryland                 466.445797
Massachusetts            621.815538
Michigan                 102.015794
Minnesota                 61.078373
Mississippi               61.321530
Missouri                  86.015622
Montana                    6.736171
Nebraska                  23.654153
Nevada                    24.448796
New Hampshire            140.799273
New Jersey              1009.253268
New Mexico                16.982737
New York                 356.094135
North Carolina           177.617157
North Dakota               9.537565
Ohio                     257.549634
Oklahoma                  53.778278
Oregon                    39.001565
Pennsylvania             275.966651
Rhode Island             681.339159
South Carolina           144.854594
South Dakota              10.583512
Tennessee                150.825298
Texas                     93.987655
Utah                      32.677188
Vermont                   65.085075
Virginia                 187.622273
Washington                94.557817
West Virginia             76.519582
Wisconsin                 86.851900
Wyoming                    5.768079
Puerto Rico             1058.665149
dtype: float64

In [125]:
density.sort_values(ascending=False, inplace = True)
density

state
District of Columbia    8898.897059
Puerto Rico             1058.665149
New Jersey              1009.253268
Rhode Island             681.339159
Connecticut              645.600649
Massachusetts            621.815538
Maryland                 466.445797
Delaware                 460.445752
New York                 356.094135
Florida                  286.597129
Pennsylvania             275.966651
Ohio                     257.549634
California               228.051342
Illinois                 221.687472
Virginia                 187.622273
Indiana                  178.197831
North Carolina           177.617157
Georgia                  163.409902
Tennessee                150.825298
South Carolina           144.854594
New Hampshire            140.799273
Hawaii                   124.746707
Kentucky                 107.586994
Michigan                 102.015794
Washington                94.557817
Texas                     93.987655
Alabama                   91.287603
Louisiana                 87.676099
Wisconsin                 86.851900
Missouri                  86.015622
West Virginia             76.519582
Vermont                   65.085075
Mississippi               61.321530
Minnesota                 61.078373
Arizona                   56.214497
Arkansas                  54.948667
Iowa                      54.202751
Oklahoma                  53.778278
Colorado                  48.493718
Oregon                    39.001565
Maine                     37.509990
Kansas                    34.745266
Utah                      32.677188
Nevada                    24.448796
Nebraska                  23.654153
Idaho                     18.794338
New Mexico                16.982737
South Dakota              10.583512
North Dakota               9.537565
Montana                    6.736171
Wyoming                    5.768079
Alaska                     1.087509
dtype: float64